@model IEnumerable<BudzetDomowyApp.Models.Operacja>

@{
    ViewData["Title"] = "Lista operacji";
}

<div class="container mt-4">
        <div class="d-flex justify-content-end mb-3">
        <a asp-action="GenerujPdf" class="btn"
        style="width: 180px; background-color: #c0c0c0; color: #1a472a; font-weight: bold;">
            Raport PDF
        </a>
    </div>

    <table class="table table-striped" style="background-color: white; border: 2px solid black; border-radius: 8px;">

        <thead>
                <tr>
                    <th>Nr</th>
                    <th>Kategoria</th>
                    <th>Kwota</th>
                    <th>Data</th>
                    <th></th>
                </tr>
        </thead>

        <tbody>
        @{ var numer = 1; }
        @foreach (var item in Model)
        {
                <tr>
                <td>@numer</td>
                <td>@item.Kategoria</td>
                <td style="color: @(item.Kwota < 0 ? "red" : "green"); font-weight: bold;">
                    @item.Kwota zł
                </td>
                <td>@item.Data.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"
                       class="btn btn-sm"
                       style="background-color: #c0c0c0; color: #1a472a; font-weight: bold;">
                        Szczegóły
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Id"
                       class="btn btn-sm"
                       style="background-color: #c0c0c0; color: #1a472a; font-weight: bold;">
                        Edytuj
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-sm"
                       style="background-color: #c0c0c0; color: red; font-weight: bold;">
                        Usuń
                    </a>
                </td>
            </tr>
             numer++;
        }
        </tbody>
    </table>
    </div>

</div>
