@model IEnumerable<BudzetDomowyApp.Models.Operacja>

@{
    ViewData["Title"] = "Lista operacji";
}

<h1>Lista operacji</h1>

<p>
    <a asp-action="Create">Dodaj nową operację</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kwota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Kategoria</td>
            <td>@item.Kwota zł</td>
            <td>@item.Data.ToShortDateString()</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>
